* {
    margin: 0 auto;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .clearfix::after {
    clear: both;
    content: "";
    display: table;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  button,
  label {
    cursor: pointer;
  }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
  
  input::placeholder {
    color: inherit;
  }
  
  button {
    cursor: pointer;
  }
  
  input,
  textarea {
    display: block;
    resize: none;
  }
  
  body {
    font-size: 14px;
    line-height: 19px;
    color: #242424;
    width: 100%;
    font-family: 'Cormorant', arial, sans-serif;
  }
  
  .container {
    max-width: 1325px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .dn {
    display: none;
  }
  
  section {
    padding: 100px 0;
  }
  
  .sec_tit {
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    margin: 0 auto;
  }
  
  .color {
    color: #BE963F;
  }
  
  .dib {
    display: inline-block;
  }
  
  .hover {
    transition: 0.3s;
  }
  
  .hover:hover {
    color: #BE963F;
  }
  
  .btn {
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
    transition: 0.3s;
  }
  
  .btn:hover {}
  
  .link {
    transition: 0.3s;
  }
  
  .link:hover {
    box-shadow: 0px 6px 5px 2px #836A36;
  }

.flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: 50px; */
    justify-content: space-between;
}

.card_we {

    width: 306px;
    height: 375px;
    box-sizing: border-box;
    /* Neutral/03 */
    border: 1.5px solid rgb(219, 223, 208);
    border-radius: 12px;

    /* Neutral/01 */
    background: #F5F5F5;
}
.cards{
    margin-left: 130px;
}
.card_imgin {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card_txt {
    display: block;
    color: rgb(65, 69, 54);
    font-family: DM Sans;
    padding: 30px;
    font-size: 16px;
    margin-top: -80px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.navbar-nav{
    margin-left: 20px;
}


.logo{
    width: 50px;
    filter: brightness(150%);
    margin-left: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-filter: brightness(150%);
}
.card_tit {
    color: rgb(173, 52, 62);
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-bottom: 50px;
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.card_img,
.info {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_img {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .card_img {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    margin-top: 80px;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .info {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 80px;
}
header{
    margin-bottom: 100px;
}
.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);

}

.d-flex {
    gap: 15px;
}

.carousel-caption {}

/* main */


.main {
    background: #02c37e;
  }
  
  
  .tit {
    font-size: 71px;
    line-height: 90px;
    padding-top: 40px;
    font-family: "Lobster";
  }
  
  .txt {
    font-size: 33px;
    line-height: 37px;
    font-weight: 400;
    font-family: "Lobster";
  }
  
  .btn__eot {
    background: #CCF3E5;
    width: 200px;
    height: 55px;
    color: #000;
  }

    .main_btn {
    width: 500px;
    padding-right: 80px;
   }

  .btn__eot {
    border-radius: 4px;
    background-color: #CCF3E5;
    border: none;
    color: #000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn__eot span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__eot span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn__eot:hover span {
    padding-right: 25px;
  }
  
  .btn__eot:hover span:after {
    opacity: 1;
    right: 0;
  }

  @property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  
  
  .sie {
    --p: 90;
    --b: 22px;
    --c: rgb(29, 20, 20);
    --w: 150px;
  
    width: 148px;
    height: 148px;
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .sie:before,
  .sie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  
  .skill {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
  }
  
  .znak {
    align-items: center;
    display: flex;
  }
  
  .first-per {
    margin-bottom: 20px;
  }
  
  .years {
    /* small/regular */
    color: rgb(66, 69, 81);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  
  .sec_per {
    margin-bottom: 20px;
  }
  
  .sie:before {
    inset: 0;
    background:
      radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  }
  
  
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  
  .animate {
    display: flex;
    align-items: center;
    animation: p 1s .5s both;
  }
  
  .no-round:before {
    background-size: 0 0, auto;
  }
  
  .no-round:after {
    content: none;
  }
  
  @keyframes p {
    from {
      --p: 0
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    margin: 24px 0;
  }
  
  .logo__img {
    width: 216px;
    height: 38px;
  }
  
  .accordeon {
    width: 100%;
  }
  
  .questions-tit{
    text-align: center;
    margin-bottom: 50px;
    font-family: "Lobster";
    color: #02C37E ;
  }

  .accordeon__item {
    background: #e7e7e7;
    border-radius: 22px;
    margin-bottom: 6px;
  }
  
  .accordeon__button {
    position: relative;
    background:  #02C37E ;
    color: #fff;
    padding: 15px 22px;
    border-radius: 22px;
    cursor: pointer;
  
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: 5px;
      border: 8px solid transparent;
      border-top: 14px solid #CCF3E5 ;
      border-bottom: 14px solid transparent;
      transition: border-bottom .5s ease, border-top .5s ease, bottom .5s ease;
    }
  }
  
  .accordeon__item:nth-child(2n) .accordeon__button{
    background: #e7e7e7;
    color: #2f70af ;
  }
  
  .accordeon__item:nth-child(2n) .accordeon__button.active{
    background: #6795c4 ;
    color: #ffffff;
  }
  
  .accordeon__panel {
    color: #2f70af ;
    border-radius: 22px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
  }
  
  .panel__text{
    list-style-type: none;
    padding: 10px 30px;
    color: #4f4f4f;
  }
  
  .active {
    background: #76aadf ;
    color: #ffffff;
  
    &:after {
      bottom: 20px;
      border-top:  14px solid transparent;
      border-bottom: 14px solid #ffffff;
    }
  }

  .footer {
    position: relative;
    width: 100%;
    background-color: #76aadf  ;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
    filter: brightness(0) saturate(100%) invert(84%) sepia(15%) saturate(7499%) hue-rotate(181deg) brightness(90%) contrast(94%);
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  