* {
    margin: 0 auto;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .clearfix::after {
    clear: both;
    content: "";
    display: table;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  button,
  label {
    cursor: pointer;
  }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
  
  input::placeholder {
    color: inherit;
  }
  
  button {
    cursor: pointer;
  }
  
  input,
  textarea {
    display: block;
    resize: none;
  }
  
  body {
    font-size: 14px;
    line-height: 19px;
    color: #242424;
    width: 100%;
    font-family: 'Cormorant', arial, sans-serif;
  }
  
  .container {
    max-width: 1325px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .dn {
    display: none;
  }
  
  section {
    padding: 100px 0;
  }
  
  .sec_tit {
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    margin: 0 auto;
  }
  
  .color {
    color: #BE963F;
  }
  
  .dib {
    display: inline-block;
  }
  
  .hover {
    transition: 0.3s;
  }
  
  .hover:hover {
    color: #BE963F;
  }
  
  .btn {
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
    transition: 0.3s;
  }
  
  .btn:hover {}
  
  .link {
    transition: 0.3s;
  }
  
  .link:hover {
    box-shadow: 0px 6px 5px 2px #836A36;
  }

.flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: 50px; */
    justify-content: space-between;
}

.card_we {

    width: 306px;
    height: 375px;
    box-sizing: border-box;
    /* Neutral/03 */
    border: 1.5px solid rgb(219, 223, 208);
    border-radius: 12px;

    /* Neutral/01 */
    background: #F5F5F5;
}
.cards{
    margin-left: 130px;
}
.card_imgin {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card_txt {
    display: block;
    color: rgb(65, 69, 54);
    font-family: DM Sans;
    padding: 30px;
    font-size: 16px;
    margin-top: -80px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.navbar-nav{
    margin-left: 20px;
}


.logo{
    width: 50px;
    filter: brightness(150%);
    margin-left: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-filter: brightness(150%);
}
.card_tit {
    color: rgb(173, 52, 62);
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-bottom: 50px;
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.card_img,
.info {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_img {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .card_img {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    margin-top: 80px;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .info {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 80px;
}
header{
    margin-bottom: 190px;
}
.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);

}

.d-flex {
    gap: 15px;
}

.carousel-caption {}

/* main */


.main {
    background: #02c37e;
  }
  
  
  .tit {
    font-size: 71px;
    line-height: 90px;
    padding-top: 40px;
    font-family: "Lobster";
  }
  
  .txt {
    font-size: 33px;
    line-height: 37px;
    font-weight: 400;
    font-family: "Lobster";
  }
  
  .btn__eot {
    background: #CCF3E5;
    width: 200px;
    height: 55px;
    color: #000;
  }

    .main_btn {
    width: 500px;
    padding-right: 80px;
   }

  .btn__eot {
    border-radius: 4px;
    background-color: #CCF3E5;
    border: none;
    color: #000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn__eot span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__eot span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn__eot:hover span {
    padding-right: 25px;
  }
  
  .btn__eot:hover span:after {
    opacity: 1;
    right: 0;
  }